@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//✔️ 🡺

@font-face {
    font-family: "Heebo";
    src: url(../fonts/Heebo.ttf);
}

@font-face {
    font-family: "Manrpe";
    src: url(../fonts/Manrope.ttf);
}

@font-face {
    font-family: "Helvetica";
    src: url(../fonts/helvetica_regular.otf);
}

@font-face {
    font-family: "Rajdhani";
    src: url(../fonts/Rajdhani-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Colors */

$backgroundColor: #170D1C;
$whiteColor: #fff;
$bg_button_header: rgba(67, 242, 114, 0.1);
$greenColor: #43F272;
$yellowColor_grad: #ffde00;
$bg_button_border: #14F195;

/* Mixin */

@mixin df_jf-c_ai-c{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Fonts */

:root {
    --kitan: "Kitan", sans-serif;
    --heebo: "Heebo", sans-serif;
    --manrot: "Manroe", sans-serif;
    --helvetica: "Helvetica", sans-serif;
    --rajdhani: "Rajdhani", sans-serif;
}

/* Fonts-size */

:root{
    --font30: 1.875rem;
    --font15: 0.9375rem;
    --font16: 1rem;
    --font18: 1.125rem;
    --font60: 3.75rem;
    --font20: 1.25rem;
    --font25: 1.5625rem;
}

.container {
    width: 1300px;
    position: relative;
    @include df_jf-c_ai-c();
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    h1 {
        font-size: var(--font25);
        font-family: var(--helvetica);
        font-weight: 400;
        color: $whiteColor;
        margin-top: 27px;
    }
    .container_progress {
        position: absolute;
        right: 22px;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 11px;
        p {
            font-family: var(--rajdhani);
            font-size: var(--font20);
            font-size: 400;
            color: $greenColor;
        }
        .green_border {
            height: 8px;
            width: 311px;
            border: 1px $greenColor solid;
            .green_value {
                margin: 2px 3px;
                height: 2px;
                width: 32px;
                background-color: $greenColor;
            }
        }
    }
}

.horisontal_border {
    margin-top: 9px;
    width: 100%;
}

body {
    position: relative;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
    background-color: $backgroundColor;
}

header {
    @include df_jf-c_ai-c();
    .container {
        width: 1300px;
        height: 108px;
        position: relative;
        @include df_jf-c_ai-c();
        .logo_text {
            z-index: 2;
            cursor: pointer;
            position: absolute;
            left: 0;
            font-family: var(--kitan);
            color: $whiteColor;
            font-weight: 700;
            font-size: var(--font30);
            user-select: none;
        }
        nav {
            ul {
                display: flex;
                gap: 50px;
                li {
                    z-index: 2;
                    list-style: none;
                    font-size: var(--font16);
                    font-family: var(--heebo);
                    color: $whiteColor;
                    cursor: pointer;
                    transition: all .1s;
                    &:hover {
                        scale: 1.07;
                    }
                }
            }
        }
        button {
            background-color: $bg_button_header;
            padding: 11px 27px;
            border: 1px solid $bg_button_border;
            border-radius: 10px;
            position: absolute;
            right: 0;
            color: $greenColor;
            transition: all .1s ease-in;
            cursor: pointer;
            font-family: var(--manrot);
            font-size: var(--font18);
            font-weight: regular;
            &:hover {
                scale: 1.03;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    @include df_jf-c_ai-c();
    .hero-block {
        display: flex;
        align-items: end;
        flex-direction: column;
        gap: 70px;
        padding: 216px 0 326.6px 0;
        h1 {
            width: 765px;
            font-family: var(--helvetica);
            font-size: var(--font60);
            font-weight: 400;
            line-height: 125%;
            letter-spacing: 0.01em;
            text-align: end;
            color: $whiteColor;
            z-index: 2;
            span {
                background: linear-gradient(49deg, $greenColor 0%, $yellowColor_grad 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        button {
            z-index: 2;
            position: relative;
            width: 350px;
            height: 50px;
            outline: none;
            border: none;
            font-family: var(--manrot);
            font-size: var(--font20);
            @include df_jf-c_ai-c();
            //background: linear-gradient(49deg, $yellowColor_grad 0%, $greenColor 100%);
            background-image: url(../img/background/hero_block_button.svg);
            background-position: center;
            background-color: $backgroundColor;
            transition: all .5s;
            cursor: pointer;
            &:before {
                content: "🡺";
                position: absolute;
                right: 45px;
                top: 11px;
            }
            &:hover {
                scale: 1.08;
            }
        }
        div {
            z-index: 1;
            width: 1344px;
            height: 929px;
            position: absolute;
            top: -108px;
            right: 149px;
            background-image: url(../img/background/header_bg.png);
        }
    }
    .img_block {
        @include df_jf-c_ai-c();
        flex-direction: column;
        div {
            width: 100%;
            @include df_jf-c_ai-c();
            .dino_bg {
                width: 100%;
                margin-bottom: 100px;
            }
        }
        .img-blocks {
            width: 100%;
            @include df_jf-c_ai-c();
            flex-direction: column;
            gap: 50px;
            .five-img {
                display: flex;
                gap: 30px;
            }
            .four-img {
                display: flex;
                gap: 30px;
            }
        }
    }
    .team-block {
        width: 100%;
        position: relative;
        margin-top: 100px;
        @include df_jf-c_ai-c();
        .people_team_container {
            margin-top: 100px;
            width: 100%;
            display: grid;
            grid-template-columns: 200px 200px 200px 200px 200px 200px;
            grid-gap: 20px;
            .teammate {
                width: 100%;
                @include df_jf-c_ai-c();
                gap: 20px;
                flex-direction: column;
                .container_teammate {
                    img {
                        border-radius: 100%;
                    }
                }
                .teammate_text {
                    .name {
                        text-align: center;
                        font-size: var(--font25);
                        font-family: "Inter", sans-serif;
                        color: $whiteColor;
                    }
                    .post {
                        margin-top: 5px;
                        text-align: center;
                        font-size: var(--font15);
                        font-family: "Inter", sans-serif;
                        font-weight: 700;
                        background: linear-gradient(49deg ,$yellowColor_grad 0%, $greenColor 100%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
        .bg_border {
            position: absolute;
            top: 55px;
            left: -230px;
        }
    }
    .opportunities-block {
        width: 100%;
        margin-top: 100px;
        @include df_jf-c_ai-c();
        .small_opport {
            position: relative;
            margin-top: 100px;
            width: 100%;
            display: grid;
            grid-template-columns: 310px 310px 310px 310px;
            grid-gap: 20px;
            .small_opport_item {
                background: url(../img/background/bg_opport.png);
                height: 360px;
                padding: 30px 22px;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 41.5px;
                &:nth-child(even) {
                    background: url(../img/background/bg_opport_sec.png);
                }
                .opport_text {
                    width: 265px;
                    h2 {
                        font-weight: 600;
                        font-size: var(--font20);
                        font-family: var(--rajdhani);
                        color: $greenColor;
                        text-transform: uppercase;
                    }
                    .desc_opport {
                        margin-top: 13px;
                        font-family: var(--manrot);
                        font-size: var(--font15);
                        font-weight: 400;
                        letter-spacing: 0.48px;
                        color: $whiteColor;
                    }
                }
            }
            .bg_round {
                position: absolute;
                right: -725px;
                top: -79px;
            }
        }
    }
}