@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Heebo";
  src: url(../fonts/Heebo.ttf);
}
@font-face {
  font-family: "Manrpe";
  src: url(../fonts/Manrope.ttf);
}
@font-face {
  font-family: "Helvetica";
  src: url(../fonts/helvetica_regular.otf);
}
@font-face {
  font-family: "Rajdhani";
  src: url(../fonts/Rajdhani-Regular.ttf);
}
@font-face {
  font-family: "Promexian";
  src: url(../fonts/proximanova_regular.ttf);
}
@font-face {
  font-family: "Speedy";
  src: url(../fonts/aldrichrusbydaymarius.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button, input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.mt100 {
  margin-top: 100px;
}

/* Colors */
/* Mixin */
/* Fonts */
:root {
  --kitan: "Kitan", sans-serif;
  --heebo: "Heebo", sans-serif;
  --manrot: "Manroe", sans-serif;
  --helvetica: "Helvetica", sans-serif;
  --rajdhani: "Rajdhani", sans-serif;
  --promexian: "Promexian", sans-serif;
  --speedy: "Speedy", sans-serif;
}

/* Fonts-size */
:root {
  --font30: 1.875rem;
  --font15: 0.9375rem;
  --font16: 1rem;
  --font18: 1.125rem;
  --font28: 1.75rem;
  --font60: 3.75rem;
  --font20: 1.25rem;
  --font25: 1.5625rem;
  --font40: 2.5rem;
  --font22: 1.375rem;
  --font50: 3.125rem;
  --font70: 4.375rem;
  --font80: 5rem;
  --font200: 12.5rem;
}

.container {
  width: 1300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
}
.title h1 {
  font-size: var(--font25);
  font-family: var(--helvetica);
  font-weight: 400;
  color: #fff;
  margin-top: 27px;
}
.title .container_progress {
  position: absolute;
  right: 22px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 11px;
}
.title .container_progress p {
  font-family: var(--rajdhani);
  font-size: var(--font20);
  font-size: 400;
  color: #43F272;
}
.title .container_progress .green_border {
  height: 8px;
  width: 311px;
  border: 1px #43F272 solid;
}
.title .container_progress .green_border .green_value {
  margin: 2px 3px;
  height: 2px;
  width: 32px;
  background-color: #43F272;
}

.price {
  position: relative;
  width: 530px;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-image: url(../img/calculate/big_border.png);
}
.price .small_border {
  position: absolute;
  top: 4px;
  left: 6px;
}

.one_price_item {
  width: 14px;
  height: 66px;
  background-color: #43F272;
  opacity: 0.1;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.one_price_item:hover {
  scale: 1.1;
}

.sec_price {
  width: 756px;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/sum/big_bg.png) no-repeat;
}
.sec_price .sec_bg_price {
  width: 738px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9.5px;
  background: url(../img/sum/sec_bg.png) no-repeat;
}

.hr_container {
  width: 100%;
  display: flex;
}
.hr_container .item_hr {
  height: 49px;
  width: 100%;
  position: relative;
}
.hr_container .item_hr hr {
  position: absolute;
  transform: rotate(90deg);
  height: 1px;
  width: 40px;
  background-color: #43F272;
  border: none;
  right: -22px;
  top: 20px;
}
.hr_container .item_hr p {
  position: absolute;
  right: 8px;
  bottom: 0px;
  font-family: var(--manrot);
  font-size: var(--font18);
  color: #fff;
}

.horisontal_border {
  margin-top: 9px;
  width: 100%;
}

body {
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
  background-color: #170D1C;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container {
  width: 1300px;
  height: 108px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container .logo_text {
  z-index: 2;
  cursor: pointer;
  position: absolute;
  left: 0;
  font-family: var(--kitan);
  color: #fff;
  font-weight: 700;
  font-size: var(--font30);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .container nav ul {
  display: flex;
  gap: 50px;
}
header .container nav ul li {
  z-index: 2;
  list-style: none;
  font-size: var(--font16);
  font-family: var(--heebo);
  color: #fff;
  cursor: pointer;
  transition: all 0.1s;
}
header .container nav ul li:hover {
  scale: 1.07;
}
header .container button {
  background-color: rgba(67, 242, 114, 0.1);
  width: 194px;
  height: 50px;
  border: 1px solid #14F195;
  border-radius: 10px;
  position: absolute;
  right: 0;
  color: #43F272;
  transition: all 0.1s ease-in;
  font-family: var(--manrot);
  font-size: var(--font18);
  font-weight: regular;
}
header .container button:hover {
  scale: 1.03;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .hero-block {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 70px;
  padding: 216px 0 326.6px 0;
}
main .hero-block h1 {
  width: 765px;
  font-family: var(--helvetica);
  font-size: var(--font60);
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.01em;
  text-align: end;
  color: #fff;
  z-index: 2;
}
main .hero-block h1 span {
  background: linear-gradient(49deg, #43F272 0%, #ffde00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .hero-block button {
  z-index: 2;
  position: relative;
  width: 350px;
  height: 50px;
  font-family: var(--manrot);
  font-size: var(--font20);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/background/hero_block_button.svg);
  background-position: center;
  background-color: #170D1C;
  transition: all 0.5s;
}
main .hero-block button:before {
  content: "🡺";
  position: absolute;
  right: 45px;
  top: 11px;
}
main .hero-block button:hover {
  scale: 1.08;
}
main .hero-block div {
  z-index: 1;
  width: 1344px;
  height: 929px;
  position: absolute;
  top: -108px;
  right: 149px;
  background-image: url(../img/background/header_bg.png);
}
main .img_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .img_block div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .img_block div .dino_bg {
  width: 100%;
  margin-bottom: 100px;
}
main .img_block .img-blocks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
main .img_block .img-blocks .five-img {
  display: flex;
  gap: 30px;
}
main .img_block .img-blocks .four-img {
  display: flex;
  gap: 30px;
}
main .team-block {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .team-block .people_team_container {
  width: 100%;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
  grid-gap: 20px;
}
main .team-block .people_team_container .teammate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
main .team-block .people_team_container .teammate .container_teammate img {
  border-radius: 100%;
}
main .team-block .people_team_container .teammate .teammate_text .name {
  text-align: center;
  font-size: var(--font25);
  font-family: "Inter", sans-serif;
  color: #fff;
}
main .team-block .people_team_container .teammate .teammate_text .post {
  margin-top: 5px;
  text-align: center;
  font-size: var(--font15);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  background: linear-gradient(49deg, #ffde00 0%, #43F272 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .team-block .bg_border {
  position: absolute;
  top: 69px;
  left: -230px;
}
main .opportunities-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .opportunities-block .small_opport {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 310px 310px 310px 310px;
  grid-gap: 20px;
}
main .opportunities-block .small_opport .small_opport_item {
  background: url(../img/background/bg_opport.png);
  height: 360px;
  padding: 30px 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 41.5px;
}
main .opportunities-block .small_opport .small_opport_item:nth-child(even) {
  background: url(../img/background/bg_opport_sec.png);
}
main .opportunities-block .small_opport .small_opport_item .opport_text {
  width: 265px;
}
main .opportunities-block .small_opport .small_opport_item .opport_text h2 {
  font-weight: 600;
  font-size: var(--font20);
  font-family: var(--rajdhani);
  color: #43F272;
  text-transform: uppercase;
}
main .opportunities-block .small_opport .small_opport_item .opport_text .desc_opport {
  margin-top: 13px;
  font-family: var(--manrot);
  font-size: var(--font15);
  font-weight: 400;
  letter-spacing: 0.48px;
  color: #fff;
}
main .opportunities-block .small_opport .bg_round {
  position: absolute;
  right: -725px;
  top: -79px;
}
main .opportunities-block .big_opport {
  margin-top: 57px;
  display: grid;
  grid-template-columns: 420px 420px 420px;
  gap: 20px;
}
main .opportunities-block .big_opport .opport_item_big {
  background-image: url(../img/opport/bg_blocks_opport.png);
  background-size: cover;
}
main .opportunities-block .big_opport .opport_item_big .bg_container {
  position: relative;
  top: 8px;
  left: 4px;
  height: 690px;
  display: flex;
  padding-top: 30px;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
main .opportunities-block .big_opport .opport_item_big .bg_container h2 {
  color: #fff;
  margin-top: 20px;
  font-family: var(--rajdhani);
  font-size: var(--font25);
}
main .opportunities-block .big_opport .opport_item_big .bg_container hr {
  width: 371px;
  background-color: #43F272;
  height: 1px;
  border: none;
}
main .opportunities-block .big_opport .opport_item_big .bg_container h1 {
  background: linear-gradient(49deg, #ffde00 0%, #43F272 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--font40);
  font-family: var(--rajdhani);
  font-weight: 700;
  margin-top: 10px;
}
main .opportunities-block .big_opport .opport_item_big .bg_container button {
  margin: 10px 0px;
  width: 379px;
  height: 56px;
  background-image: url(../img/opport/button.png);
  background-size: cover;
  background-color: #170D1C;
  background-position: center;
  font-weight: 600;
  font-family: var(--manrot);
  font-size: var(--font20);
  transition: all 0.1s ease-in;
}
main .opportunities-block .big_opport .opport_item_big .bg_container button:hover {
  scale: 1.05;
}
main .opportunities-block .big_opport .opport_item_big .bg_container ul {
  width: 319px;
  text-align: left;
  list-style-type: "✔️";
}
main .opportunities-block .big_opport .opport_item_big .bg_container ul li {
  padding-left: 14px;
  margin-bottom: 15px;
  color: #fff;
  font-family: var(--manrot);
  font-size: var(--font16);
}
main .opportunities-block .big_opport .opport_item_big .bg_container::before {
  content: "";
  width: 95px;
  height: 144px;
  position: absolute;
  background: url(../img/opport/top_right_border.png);
  right: 16px;
  top: 9px;
}
main .opportunities-block .big_opport .opport_item_big .bg_container::after {
  content: "";
  width: 95px;
  height: 144px;
  position: absolute;
  transform: rotate(180deg);
  background: url(../img/opport/top_right_border.png);
  left: 17px;
  bottom: 32px;
}
main .opportunities-block .big_opport .opport_item_big:nth-child(even) {
  background-image: url(../img/opport/bg_sec_blocks_opport.png);
}
main .opportunities-block .big_opport .opport_item_big:nth-child(even) button {
  background-color: #2e2532;
}
main .calculate_block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .calculate_block .calculate {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  z-index: 10;
}
main .calculate_block .calculate h2 {
  font-family: var(--manrot);
  font-size: var(--font20);
  color: #fff;
  margin-bottom: 22px;
}
main .calculate_block .calculate h1 {
  background: linear-gradient(49deg, #ffde00 0%, #43F272 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--font22);
  font-family: var(--helvetica);
}
main .calculate_block .calculate .calculate_app {
  position: relative;
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .calculate_block .calculate .calculate_app .price_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .calculate_block .calculate .calculate_app .sum_app {
  position: absolute;
  left: 0px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
}
main .calculate_block .calculate .calculate_app .sum_app .sum_number {
  font-size: var(--font70);
  font-family: var(--rajdhani);
  color: #fff;
}
main .calculate_block .calculate .calculate_app .sum_app .sum_rub {
  font-size: var(--font18);
  font-family: var(--manrot);
  color: #fff;
}
main .calculate_block .calculate .calculate_app button {
  position: absolute;
  top: 21px;
  right: 0px;
  width: 310px;
  height: 56px;
  background-image: url(../img/calculate/ee167032-fea7-4315-8f71-06d8340d8b6b.png);
  font-size: var(--font20);
  font-family: var(--manrot);
  font-weight: 600;
  transition: all 0.2s ease-in;
}
main .calculate_block .calculate .calculate_app button:hover {
  scale: 1.05;
}
main .calculate_block .bg_blocks {
  position: absolute;
  top: -203px;
  left: -310px;
}
main .calculate_block .round_calculate {
  position: absolute;
  top: 342px;
  left: -515px;
}
main .with_app_block {
  margin-top: 140px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .with_app_block .with_opport_container {
  width: 1083px;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
main .with_app_block .with_opport_container .action_opport {
  position: relative;
  display: flex;
  justify-content: start;
  gap: 3px;
}
main .with_app_block .with_opport_container .action_opport .item_with_opport {
  width: 640px;
  height: 146px;
  background-image: url(../img/with_opport/bg_with_opport.png);
  padding: 20px 27px 0px 40px;
}
main .with_app_block .with_opport_container .action_opport .item_with_opport h1 {
  font-size: var(--font28);
  font-family: var(--rajdhani);
  color: #43F272;
}
main .with_app_block .with_opport_container .action_opport .item_with_opport p {
  font-size: var(--font20);
  font-family: var(--manrot);
  color: #fff;
  margin-top: 15px;
}
main .with_app_block .with_opport_container .action_opport .container_stroke {
  position: absolute;
  left: 653px;
  top: 50px;
}
main .with_app_block .with_opport_container .action_opport:nth-child(even) {
  justify-content: end;
}
main .with_app_block .with_opport_container .action_opport:nth-child(even) .container_stroke {
  transform: scale(-1, 1);
  left: 212px;
}
main .with_app_block .bottom_bg_round {
  position: absolute;
  top: 779px;
  left: -310px;
  z-index: -1;
}
main .with_app_block .tree_rectangle {
  position: absolute;
  left: 1209px;
  top: 556px;
  z-index: -1;
}
main .result_block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .result_block .content_result {
  gap: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .result_block .content_result .iphone {
  display: flex;
  gap: 35px;
  position: relative;
}
main .result_block .content_result .iphone .item_phone {
  margin-top: 170px;
  position: relative;
  width: 605px;
  height: 185px;
  background: url(../img/result/bg_item_phone.png);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  padding-left: 293px;
}
main .result_block .content_result .iphone .item_phone img {
  position: absolute;
  left: -25px;
  bottom: 0px;
  width: 300px;
  height: 368px;
}
main .result_block .content_result .iphone .item_phone .text_result {
  width: 241px;
}
main .result_block .content_result .iphone .item_phone .text_result h1 {
  font-family: var(--promexian);
  font-size: var(--font40);
  font-weight: bold;
  background: linear-gradient(49deg, #ffde00 0%, #43F272 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .result_block .content_result .iphone .item_phone .text_result p {
  margin-top: 5px;
  font-family: var(--heebo);
  font-size: var(--font20);
  color: #fff;
}
main .result_block .content_result .iphone .item_phone .right_block {
  cursor: pointer;
  padding-top: 27px;
  position: absolute;
  right: 0px;
  width: 82px;
  height: 184px;
  background: url(../img/result/right_img.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
main .result_block .content_result .iphone .item_phone .right_block::after {
  content: url(../img/result/arrow.png);
  transition: all 0.6s;
}
main .result_block .content_result .iphone .item_phone .right_block:hover::after {
  scale: 1.1;
}
main .result_block .content_result .feedback {
  width: 1299px;
  height: 152px;
  background: url(../img/result/feedback_border.png);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
main .result_block .content_result .feedback h1 {
  font-family: var(--rajdhani);
  font-size: var(--font22);
  color: #fff;
}
main .result_block .content_result .feedback .input_container_result {
  width: 525px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  background: url(../img/result/feedback_border.png);
  background-position: center;
  background-size: cover;
  padding: 20px 10px 20px 42px;
  position: relative;
}
main .result_block .content_result .feedback .input_container_result input {
  width: 60%;
  background-color: transparent;
  color: #fff;
  font-family: var(--manrot);
}
main .result_block .content_result .feedback .input_container_result div {
  position: absolute;
  right: 0px;
  height: 61px;
  width: 167px;
  background-image: url(../img/result/right_img_input.png);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font20);
  font-family: var(--manrot);
  font-weight: 600;
  cursor: pointer;
}
main .result_block .content_result .portfolio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
main .result_block .content_result .portfolio .portolio_item {
  width: 420px;
  height: 553px;
  background: url(../img/result/porfolio_item.png);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  flex-direction: column;
}
main .result_block .content_result .portfolio .portolio_item .top_img {
  width: 420px;
  height: 87px;
  background: url(../img/result/top_img.png);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main .result_block .content_result .portfolio .portolio_item .top_img::after {
  content: url(../img/result/arrow.png);
  transition: all 0.6s;
}
main .result_block .content_result .portfolio .portolio_item .top_img:hover::after {
  scale: 1.2;
}
main .result_block .content_result .portfolio .portolio_item .portfolio_text_container {
  margin-top: 30px;
  width: 405px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}
main .result_block .content_result .portfolio .portolio_item .portfolio_text_container h1 {
  width: 100%;
  font-size: var(--font40);
  font-family: var(--promexian);
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(49deg, #ffde00 0%, #43F272 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .result_block .content_result .portfolio .portolio_item .portfolio_text_container p {
  font-size: var(--font20);
  font-family: var(--heebo);
  color: #fff;
}
main .result_block .content_result .portfolio .portolio_item img {
  position: absolute;
  bottom: 0px;
}
main .bonus_block {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .bonus_block .bonus_container_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
main .bonus_block .bonus_container_content .bonus_item {
  width: 420px;
  height: 301px;
  background: url(../img/bonus/bg_item_bonus.png);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
main .bonus_block .bonus_container_content .bonus_item h1 {
  color: #43F272;
  width: 323px;
  text-align: center;
  font-family: var(--rajdhani);
  font-size: var(--font20);
  font-weight: 600;
}
main .cooperation_block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .cooperation_block .cooperation_container_content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  gap: 60px;
}
main .cooperation_block .cooperation_container_content .cooperation_item {
  margin: 0px 96px 0 auto;
  width: -moz-min-content;
  width: min-content;
  height: 442px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .cooperation_block .cooperation_container_content .cooperation_item:nth-child(even) {
  margin: 0 auto 0 0;
  flex-direction: row-reverse;
}
main .cooperation_block .cooperation_container_content .cooperation_item .cooperation_container_bg {
  width: 420px;
  height: 413px;
  background: url(../img/cooperation/bg_cooperation_block.png) center;
}
main .cooperation_block .cooperation_container_content .cooperation_item .cooperation_container_bg .sec_cooperation_container_bg {
  position: relative;
  left: 20px;
  bottom: 29px;
  width: 420px;
  height: 413px;
  background: url(../img/cooperation/sec_bg_cooperation.png) center;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .cooperation_block .cooperation_container_content .cooperation_item .cooperation_text {
  width: 330px;
  margin: 0 93px 0 125px;
}
main .cooperation_block .cooperation_container_content .cooperation_item .cooperation_text h2 {
  font-family: var(--rajdhani);
  font-size: var(--font28);
  color: #43F272;
  margin-bottom: 40px;
  text-transform: uppercase;
}
main .cooperation_block .cooperation_container_content .cooperation_item .cooperation_text p {
  font-family: var(--manrot);
  font-size: var(--font18);
  color: #fff;
}
main .cooperation_block .cooperation_container_content .cooperation_item .cooperation_text:nth-child(even) {
  flex-direction: row-reverse;
}
main .cooperation_block .cooperation_container_content .cooperation_item h1 {
  height: 100%;
  position: relative;
  bottom: 57px;
  font-family: var(--speedy);
  font-size: var(--font200);
  font-weight: 400;
  color: #43F272;
  opacity: 0.2;
}
main .cooperation_block .presentation_project {
  margin: 100px auto 0 auto;
  width: 352px;
  height: 76px;
  font-size: var(--font20);
  font-family: var(--manrot);
  font-weight: 600;
  background: url(../img/cooperation/button_presentation.png);
  transition: all 400ms 90ms;
}
main .cooperation_block .presentation_project:hover {
  scale: 1.2;
}
main .cooperation_block .bg_stroke {
  position: absolute;
  top: -145px;
  left: -305px;
  width: 1920px;
  height: 2013px;
  background: url(../img/cooperation/bg_stroke.png) center;
}
main .cooperation_block .bg_element {
  position: absolute;
  top: 267px;
  right: -479px;
  width: 440px;
  height: 380px;
  background: url(../img/cooperation/bg_element.png) center;
}
main .cooperation_block .bg_sec_element {
  position: absolute;
  top: 1943px;
  left: -422px;
  width: 336px;
  height: 336px;
  background: url(../img/cooperation/sec_element.png) center;
}
main .cooperation_block .bg_rounds_sec {
  position: absolute;
  width: 611px;
  height: 417px;
  top: 2828px;
  right: -431px;
  background: url(../img/cooperation/rounds.png) center no-repeat;
  background-size: contain;
}
main .calculate_sum_block .calculate_app_sum {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .calculate_sum_block .calculate_app_sum .calculate_sum_text {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .calculate_sum_block .calculate_app_sum .calculate_sum_text p {
  font-family: var(--manrot);
  font-size: var(--font18);
  color: #fff;
}
main .calculate_sum_block .calculate_app_sum .calculate_sum_text h1 {
  font-size: var(--font70);
  font-family: var(--rajdhani);
  background: linear-gradient(49deg, #ffde00 0%, #43F272 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .calculate_sum_block .calculate_app_sum .what_want {
  margin-top: 30px;
  width: 901px;
  height: 265px;
  background: url(../img/sum/bg_want.png) center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .calculate_sum_block .calculate_app_sum .what_want .text_want {
  width: 541px;
  height: 160px;
  display: flex;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .calculate_sum_block .calculate_app_sum .what_want .text_want h1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--rajdhani);
  font-size: var(--font28);
  background: linear-gradient(49deg, #ffde00 0%, #43F272 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .calculate_sum_block .calculate_app_sum .what_want .text_want ul {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-row-gap: 20px;
}
main .calculate_sum_block .calculate_app_sum .what_want .text_want ul li {
  color: #fff;
  font-family: var(--manrot);
  font-size: var(--font18);
}
main .nipsy_block .first_item {
  width: 1062px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
main .nipsy_block .first_item p {
  width: 630px;
  font-size: var(--font25);
  font-family: var(--manrot);
  color: #fff;
  line-height: 160%;
}
main .nipsy_block .first_item p span {
  background: linear-gradient(49deg, #ffde00 0%, #43F272 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .nipsy_block .sec_item {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 4px;
}
main .nipsy_block .sec_item p {
  width: 521px;
  font-size: var(--font25);
  font-family: var(--manrot);
  color: #fff;
  line-height: 160%;
}
main .nipsy_block .sec_item p span {
  background: linear-gradient(49deg, #ffde00 0%, #43F272 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .nipsy_block .bg_numbers {
  width: 1787px;
  height: 999px;
  position: absolute;
  z-index: -15;
  top: -305px;
  left: -1666px;
  background: url(../img/nipsy/bg_numbers.png) bottom right no-repeat;
}
main .nipsy_block .bg_numbers_sec {
  width: 1787px;
  height: 999px;
  position: absolute;
  z-index: -15;
  left: 755px;
  top: 327px;
  background: url(../img/nipsy/bg_numbers_sec.png) center no-repeat;
}
main .reviews-block .container_reviews {
  margin-top: 224px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
main .reviews-block .container_reviews .reviews_item {
  width: 420px;
  height: 301px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: end;
  gap: 26px;
  padding: 0px 40px 10px;
  background: url(../img/review/bg_item.png) center no-repeat;
}
main .reviews-block .container_reviews .reviews_item img {
  position: absolute;
  bottom: 261px;
  left: 100px;
}
main .reviews-block .container_reviews .reviews_item h2 {
  width: 100%;
  text-align: center;
  font-family: var(--rajdhani);
  font-size: var(--font20);
  background: linear-gradient(49deg, #ffde00 0%, #43F272 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  text-transform: uppercase;
}
main .reviews-block .container_reviews .reviews_item p {
  width: 340px;
  height: 171px;
  color: #fff;
  font-family: var(--manrot);
  font-size: var(--font16);
  font-weight: 400;
}
main .reviews-block .container_reviews .reviews_item p span {
  background: linear-gradient(49deg, #ffde00 0%, #43F272 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .reviews-block .bg_number {
  width: 1787px;
  height: 999px;
  position: absolute;
  z-index: -15;
  top: -78px;
  right: 690px;
  background: url(../img/review/bg_number.png) center no-repeat;
}
main .contacts-block .contacts_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
main .contacts-block .contacts_container .item-gmail-call {
  width: 310px;
  height: 301px;
  background: url(../img/contacts/bg_small_item.png) center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: start;
}
main .contacts-block .contacts_container .item-gmail-call img {
  margin: 61px 0px 71px;
}
main .contacts-block .contacts_container .item-gmail-call .sec {
  margin: 46px 0px 70px;
}
main .contacts-block .contacts_container .item-gmail-call p {
  text-align: center;
  letter-spacing: 0.02rem;
  font-family: var(--manrot);
  font-size: var(--font22);
  color: #fff;
}
main .contacts-block .contacts_container .item-gmail-call button {
  width: 247px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/contacts/bg_button.png) transparent center no-repeat;
  background-size: 100%;
  font-family: var(--manrot);
  font-size: var(--font16);
  font-weight: 600;
  transition: all 0.5s;
}
main .contacts-block .contacts_container .item-gmail-call button:hover {
  scale: 1.1;
}
main .contacts-block .contacts_container .item-feedback {
  width: 640px;
  height: 301px;
  background: url(../img/contacts/bg_container_input.png) center no-repeat;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  flex-direction: column;
  gap: 27px;
}
main .contacts-block .contacts_container .item-feedback .container_input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
main .contacts-block .contacts_container .item-feedback .container_input .bg_input {
  width: 525px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 42px;
  background: url(../img/contacts/bg_input.png) center no-repeat;
}
main .contacts-block .contacts_container .item-feedback .container_input .bg_input input {
  width: 100%;
  background-color: transparent;
  font-family: var(--manrot);
  font-size: var(--font16);
  color: #fff;
}
main .contacts-block .contacts_container .item-feedback button {
  width: 290px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/contacts/input_bg_button.png) center no-repeat;
  font-family: var(--manrot);
  font-size: var(--font16);
  font-weight: 500;
  transition: all 0.4s;
}
main .contacts-block .contacts_container .item-feedback button:hover {
  scale: 1.15;
}
main .contacts-block .bg_number {
  width: 1787px;
  height: 999px;
  position: absolute;
  z-index: -15;
  top: -130px;
  left: 623px;
  background: url(../img/contacts/bg_number.png) center no-repeat;
}
main .call-block .img_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .call-block .img_container .right_img {
  display: flex;
  gap: 10px;
  align-items: center;
}

footer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .desc .desc_container h1 {
  font-family: var(--kitan);
  font-size: var(--font80);
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
footer .desc .desc_container p {
  margin-top: 15px;
  font-family: var(--helvetica);
  font-size: var(--font30);
  color: #fff;
}
footer .desc .desc_container p span {
  background: linear-gradient(49deg, #ffde00 0%, #43F272 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .desc .container_social {
  display: flex;
  gap: 20px;
  margin-top: 14px;
}
footer nav {
  margin-top: 50px;
  width: 100%;
}
footer nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
}
footer nav ul li {
  font-family: var(--manrot);
  font-size: var(--font25);
  color: #fff;
}
footer .gmail-container {
  margin-top: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 20px;
}
footer .gmail-container .conainer_arrow {
  display: flex;
  gap: 50px;
}
footer .gmail-container h1 {
  font-family: var(--manrot);
  font-size: var(--font50);
  color: #fff;
}
footer button {
  margin: 50px auto 60px 0px;
  width: 271px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/footer/button.png) center no-repeat;
  font-family: var(--manrot);
  font-size: var(--font20);
  transition: all 0.5s;
  padding-bottom: 10px;
}
footer button:hover {
  scale: 1.1;
}/*# sourceMappingURL=main-style.css.map */